:root {
    --vermelho: #E50914;
    --preto: #141414;
}

body, div, img, p, a, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--preto);
    font-family: 'Arial', sans-serif;
    color: white;
}

/* CABEÇALHO */

header {
    position: fixed;
    width: 100vw;
    z-index: 10000;
    transition: 1s;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    z-index: 10000;
}

header.sticky {
    background-color: var(--preto);
    transition: 1s;
}

header .logo {
    margin: 0 35px 0 50px;
    width: 8vw;
}

header .nav {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: #fff;
    font-size: 0.9em;
}

header nav .left {   
    margin: 10px;
}

header nav .div-right {
    display: flex;
    padding-right: 50px;
}

header nav .div-right .right {
    margin: 10px 15px;
}

header div a:hover {
    color: #AAA;
}

header .left:nth-child(1) {
    font-weight: bold;
}

header .right:nth-child(2n+1){
    font-size: 1.2em;
    align-self: center;
}

header .right:nth-child(2){
    align-self: center;
}

header .right:nth-child(2n+4){
    font-size: 1.4em;
    align-self: center;
} 

header .right:nth-child(5){
    width: 2.3vw;
    border-radius: 4px;
    cursor: pointer;
}

/* PRINCIPAL */

main .filme-principal {
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/filme-principal.jpg');
    -webkit-mask-image: linear-gradient(to top, #00000000 1%, var(--preto) 10%);
 
    height: 710px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .filme-principal .container {
    margin-left:50px; 
}

main .filme-principal .titulo {
    font-size: 2.7rem;
    margin: 15px 0;
}

main .filme-principal .subDescricao {
    text-shadow: 0px 1.5px 5px black;
    font-size: 23px;
    margin: 15px 0;
}

main .filme-principal .descricao {
    margin-bottom: 40px;
    font-size: 1.3em;
    line-height: 1.6rem;
}

main .filme-principal .botao-1{
    background-color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1em;
    color:black;
    font-weight: bolder;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
 }

 main .filme-principal .botao-1:hover {
    background-color: rgba(255, 255, 255, 0.479);
 }

main .filme-principal .botao-2{
    background-color: rgba(122, 122, 122, 0.651);
    border: none;
    padding: 10px 30px;
    font-size: 1rem;
    color:white;
    font-weight: bolder;
    opacity: 1;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
 }

 main .filme-principal .botao-2:hover {
    background-color:rgba(136, 136, 136, 0.438);
 }

 main .filme-principal .botao i {
    margin-right: 10px;
 }

 main .filme-principal .container{
    width: 70%;
}

/* SECÃO */

section .box-filme {
    display: inline-block;
    cursor: pointer;
}

section .carrosel-filmes {
    margin-top: 40px;
}

 section h2 {
    font-size: 20px;
    margin-left: 50px;
}

section .filmes-secundarios {
    margin-left: 50px;
}

section .item img {
    border-radius: 4px;
}